body {
  background-image: linear-gradient(lightblue, white);
  width: 150px;
  height: 150px;
}
button{
  background-color: #3399ff;
  height: 70px;
  width: 70px;
}

button:hover{
  background-color: #0066cc;
}


button:disabled{
  background-color: #99ccff;
}

button:disabled:hover{
  background-color: #cce6ff;
}